bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs
.VSCodeCounter
Secrets.cs
MusicPlayer/MusicPlayer.csproj.SdkResolver.-393427557.proj.Backup.tmp
MusicPlayer/MusicPlayer.csproj.SdkResolver.351591873.proj.Backup.tmp
