<#@ template debug="false" hostspecific="true" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ assembly name="System.Xml" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Xml" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>
namespace MusicPlayer
{
    public enum TranslationKey
    {
<#
    string resxPath = Host.ResolvePath("Resources/AppResources.resx");
    XmlDocument doc = new XmlDocument();
    doc.Load(resxPath);
    
    var dataNodes = doc.SelectNodes("//data");
    if (dataNodes != null)
    {
        var names = new List<string>();
        foreach (XmlNode node in dataNodes)
        {
            if (node.Attributes?["name"] != null)
            {
                names.Add(node.Attributes["name"].Value);
            }
        }
        
        names.Sort();
        for (int i = 0; i < names.Count; i++)
        {
            WriteLine($"        {names[i]}{(i < names.Count - 1 ? "," : "")}");
        }
    }
#>
    }
}
